
<div class="dashboard-container">
  <div class="header">
   
    <div class="header-logo">
      <img src="assets/DXC_Logo.png" alt="Logo" class ="logo">
    </div>
    <span> <h1>ZURICH DXC</h1></span>
  </div>
 

  <div class="container">
    <aside>
      <h2>Sidebar</h2>
      <ul class="side-menu top">
        <li class="active">
          <a href="#">
            <i class='bx bxs-dashboard' ></i>
            <span class="text">Dashboard</span>
          </a>
        </li>
        <li>
          <a href="#">
            <i class='bx bxs-shopping-bag-alt' ></i>
            <span class="text">My Store</span>
          </a>
        </li>
        <li>
          <a href="#">
            <i class='bx bxs-doughnut-chart' ></i>
            <span class="text">Analytics</span>
          </a>
        </li>
        <li>
          <a href="#">
            <i class='bx bxs-message-dots' ></i>
            <span class="text">Message</span>
          </a>
        </li>
        <li>
          <a href="#">
            <i class='bx bxs-group' ></i>
            <span class="text">Team</span>
          </a>
        </li>
      </ul>
      <ul class="side-menu">
        <li>
          <a href="#">
            <i class='bx bxs-cog' ></i>
            <span class="text">Settings</span>
          </a>
        </li>
       
      </ul>
   
    </aside>
    
    <main>
      <h2>Main Content</h2>
      <!-- Main content goes here -->
    </main>
  </div>


  <!-- SIDEBAR 
  <section id="sidebar">
    <a href="#" class="brand">
      <i class='bx bxs-smile'></i>
      <span class="text">AdminHub</span>
    </a>
    <ul class="side-menu top">
      <li class="active">
        <a href="#">
          <i class='bx bxs-dashboard' ></i>
          <span class="text">Dashboard</span>
        </a>
      </li>
      <li>
        <a href="#">
          <i class='bx bxs-shopping-bag-alt' ></i>
          <span class="text">My Store</span>
        </a>
      </li>
      <li>
        <a href="#">
          <i class='bx bxs-doughnut-chart' ></i>
          <span class="text">Analytics</span>
        </a>
      </li>
      <li>
        <a href="#">
          <i class='bx bxs-message-dots' ></i>
          <span class="text">Message</span>
        </a>
      </li>
      <li>
        <a href="#">
          <i class='bx bxs-group' ></i>
          <span class="text">Team</span>
        </a>
      </li>
    </ul>
    <ul class="side-menu">
      <li>
        <a href="#">
          <i class='bx bxs-cog' ></i>
          <span class="text">Settings</span>
        </a>
      </li>
      <li>
        <a href="#" class="logout">
          <i class='bx bxs-log-out-circle' ></i>
          <span class="text">Logout</span>
        </a>
      </li>
    </ul>
  </section>
  SIDEBAR -->






  <footer class="footer">
    &copy; 2023 ZURICH DXC.All rights reserved.
  </footer>
</div>




